
@{
    ViewBag.Title = "O nama | Optika Shop";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="about_main">
    <div class="services_main">
        <div class="container">
            <div class="creative_taital">
                <h1 class="creative_text">O nama</h1>
                <p style="color: #050000; text-align: center;">
                    Zahvaljujući dugogodišnjem radu, stečenom iskustvu i stalnoj edukaciji zaposlenih u mogućnosti smo da odgovorimo na sve zahteve i potrebe kako domaćih tako i stranih klijenata. Očnu kuću čini prodavnica u ulici Cara Dušana 40 i savremena oftalmološka ordinacija.
                    Prodavnica i ordinacija su ekskluzivno uređene i opremljene najsavremenijim oftalmološkim aparatima kao i automatizovanim mašinama (kompjuterizovano određivanje dioptrije,
                    sofisticirana ugradnja stakala, kompjuterizovano vidno polje).Koncept očne kuće Optika Shop “sve na jednom mestu” uključuje kompletan oftalmološki pregled, savet oko odabira
                    optičkih pomagala, prodaju dioptrijskih stakala, ramova, kontaktnih sočiva, rastvora za čuvanje kao i obuku za bezbedno nošenje i rukovanje optičkim proizvodima. Koncept se
                    realizuje u najkraćem mogućem vremenskom intervalu. Optički proizvodi su visokoh kvaliteta, poznatih i proverenih robnih marki, iz širokog asortimana renomiranih domaćih i
                    stranih proizvođača optike, sa kojima Optika Shop ima tradicionalno dobre odnose. Dugoročni cilj očne kuće je da uspostavi profesionalno-efikasne odnose sa svojim klijentima
                    vodeći računa o njihovim potrebama, štedeći pritom njihovo dragoceno vreme i novac.
                </p>
                <center><img src="~/Images/onama.jpg" alt="onama.jpg" class="slika" /></center>
            </div>
        </div>
    </div>
</div>

