
@{
    ViewBag.Title = "Početna";
    ViewBag.Description = "Optika Shop svojim dugogodišnjim iskustvom, najsavremenijim tehnologijama, predstavlja jednog od vodećih lidera u oblasti kojom se bavi.";
    ViewBag.Keywords = "Optika, Optika Novi Sad, Optička kuća, Naočare, Dioptrijski okviri, Dioptrijska sočiva, Kontaktna sočiva";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="banner-main">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title" style="color: #10b5fa">
                            Dobrodošli u<br>
                            <span style="color: #ed252d">Optika Shop</span>
                        </h1>
                        <p class="long_text" style="color: #10b5fa"><span style="color: #ed252d">Optika Shop</span> je očna kuća sa dugogodišnjim iskustvom i tradicijom koja u ponudi ima <br>veliki izbor okvira za naočare, stakala i kontaktnih sočiva.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title" style="color: #10b5fa">
                            Radno vreme<br><span style="color: #ed252d">Optika Shop-a</span>
                        </h1>
                        <p class="long_text" style="color: #10b5fa">Radnim danima od 9 do 20 časova, subotom od 9 do 13 časova.<br> <span style="text-align:center">Nedelja neradna.</span></p>
                    </div>
                    
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="services_main">
    <div class="container">
        <div class="creative_taital">
            <h1 class="creative_text">Kako izabrati naočare?</h1>
            <p style="color: #050000; text-align: center;">Kada ste u potrazi za naočarima koje Vam savršeno odgovaraju, tu mnogo pomaže određivanje oblika lica. Ima toliko naočara koje Vam se sviđaju ali kada znate šta odgovara obliku Vašeg lica, tada će biti mnogo lakše izabrati najbolji okvir.</p>
            <h2 class="creative_text2">Ovalno lice</h2>
            <p style="color: #050000; text-align: center;">Ovalno lice je kao prazan kanvas za biranje okvira – možete da izaberete skoro svaki oblik i stil okvira. Iskoristite priliku da se poigrate sa raznim teksturama, bojama i oblicima okvira.</p>
            <h2 class="creative_text2">Okruglo lice</h2>
            <p style="color: #050000; text-align: center;">Okruga lica daju mladalački izgled osobi koje možete da upotpunite sa kontrastnim pravougaonim okvirima. Potražite zanimljive geometrijske oblike i birajte tanje okvire koje će da dodaju dužinu vašem okruglom licu.</p>
            <h2 class="creative_text2">Srcoliko lice</h2>
            <p style="color: #050000; text-align: center;">Srcolika lica imaju karakteristično visoke jagodice (blago vama) i dobro definisanu usku bradu. Potražite interesantne okvire koji su širi od vašeg čela i tanji most koji ce da poboljša simetriju vašeg lica.</p>
            <h2 class="creative_text2">Četvrtasto lice</h2>
            <p style="color: #050000; text-align: center;">Četvrtasta lica imaju dobro definisane uglove koje možete da ublažite sa okruglim i ovalnim oblicima okvira. Potražite tanke i oble okvire i probajte da eksperimentišete sa mačkastim i okvirima sa najlonom.</p>
        </div>
        <div class="section_service_2">
            <h1 class="service_text">Šta nudimo?</h1>
        </div>
        <div class="service_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="~/Images/eyeglasses-frame.png"></div>
                            <h1 class="written_text">DIOPTRIJSKI OKVIRI</h1>
                            <p>
                                Nudimo širok asortiman muških,ženskih i dečijih okvira. Plastični, metalni, kombinovani. Od najjeftinijih okvira(već od 590 din) pa do najskupjih brendiranih.
                                U ponudi imamo najpoznatije svetske brendove, kao što su: Ray Ban, Guess, Silhouette, MaxMara,Versace, Jimmy Choo, Marc Jacobs, StellaMcCartney, Gucci, Emporio Armani, Dario Martini,Vogue,Pierre Cardin itd.
                                Stručno i ljubazno osoblje koje će vam pomoći da odaberete prave naočare za vas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="~/Images/sunglasses.png"></div>
                            <h1 class="written_text">SUNČANE NAOČARE</h1>
                            <p>
                                Imamo u ponudi muški, ženski i dečiji program sunčanih naočara od određenih brendova (Ray Ban, Avanglion, Polar Glare, Ozzy)
                                Većina sunčanih naočara ima UV zaštitu i polarizaciju.

                                Polarizacija je popularan termin za refleksije svetlosti sa različitih ravnih površina.To je odsjaj u prozoru, odsjaj sa hromiranih delova vozila, zaslepljujući talasi sa površine vode i snega. Polarizovana svetlost stvara difuzne zrake svetlosti koji umanjuju blještavilo, pojačavaju kontrast i daju jasnoću vida.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service_main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="~/Images/eye-contact.png"></div>
                            <h1 class="written_text">KONTAKTNA SOČIVA</h1>
                            <p>
                                Kontaktna sočiva pružaju komfort celog dana, jasan vid, široko vidno polje i udobnost.
                                Idealan za bavljenje sportom i drugim aktivnostima.
                                Nudimo vam veliki asortiman, dnevnih, mesečnih i godišnjih dioptrijskih sočiva
                                (monofokalna, torična, multifokalna). Od poznatih proizvođača i distributera
                                Bausch&Lomb, Alcon, Optix, itd.
                                Nudimo i estetska sočiva, tj. sočivo u boji koji u kombinaciji sa prirodnom bojom
                                oka pružaju promenu i naglašavanje boje koji želite (turquoise,amethyst,true
                                sapphire,blue,green, pure hazel,brilliant blue,itd).
                                Napomena da je kod kontaktnih sočiva vrlo bitno voditi računa o higijeni.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="written_text">
                            <div class="like_icon"><img src="~/Images/eye-lenses.png"></div>
                            <h1 class="written_text">DIOPTRIJSKA SOČIVA</h1>
                            <p>
                                Po ustanovljenoj dioptriji stručno lice očne kuće pacijentu će predložiti najveći izbor i najkvalitetniju vrstu dioptrijskih sočiva. -Monofokalna
                                -Bifokalna(daljina i blizina)
                                -Multifokalna-Progresivna sočiva, objedinjuju dioptrije za sve distance, postepenim prelaskom od najniže (za daljinu) do najjače (za citanje) bez estetskih promena u spoljašnjem izgledu sočiva.

                                -Razna zaštitna sočiva:Drivewear za noćnu vožnju, polarizovana sočiva za boravak na otvoreno sa velikom refleksijom (voda,sneg,asfalt...)

                                Dioptrijska sočiva mogu biti, asferična, stanjena, fotoosetljiva(transitions), trivex, polycarbonat itd.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>